:root{
    --dark-blue:#141922;
    --dark-grey:#282828;
    --green:#ADFF2F;
    --gray:#7d7f84;
    --black:#000; 

    --sidbar_width:230px;
    --bottombar_height:90px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: currentColor;
}

img{
    width: 100%;
}

html{
    color: white;
}

ul,
ol,
li{
    list-style: none;
}



/* DEBUG */

.sidebar,
.main-content,
body > .toolbar{
    /* border: 1px solid red; */
    /* padding: 20px; */
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.toolbar{
    flex-shrink: 0;
    background-color: var(--dark-grey);

}

.sidebar{
    flex-basis: var(--sidbar_width);
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--black);
}

.main-content{
    flex-grow: 1;
    overflow: y auto;
    background-color:var(--dark-blue) ;
}


 
/* SIDEBAR */

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.sidebar--logo{
    max-width: 100px;
    padding-bottom: 10px;
}

.sidebar--logo > .logo__small{
    height: 0px;
    width: 0px;
}

/* MENU */
.menu{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.menu__home{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.menu__home img{
    width: 25px;
}
.menu__home h2{
    font-size: 0.8em;
    padding-left: 7px;
}

.high{
    color: white;
}
.off{
    color: var(--gray);
}

/* PLAYLIST */
.playlist-section{
    color: var(--gray);
    margin-bottom: auto;
}
.playlist--title{
    padding: 30px 0 10px;
    font-size: 0.8em;
    color: white;
}

.playlist--create{
    display: flex;
    padding-bottom: 10px;
}

.playlist--create > i{
    font-size: 40px;
    color: white;
}
.playlist--create > p{
    display: flex;
    align-items: center;
    padding-left:10px ;
}

.playlist--list li{
    padding: 10px 0;
    font-size: 0.8em;
}

/* download */
.download{
    display: flex;
    color: var(--gray);
    border-bottom: 2px solid currentColor;

}
.download i{
    font-size: 10px;

}
.download h3{
    font-size: 10px;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 7px;

}

/* profile */
.profile{
    display: flex;
    padding-top: 10px;
    align-items: center;
    
}
.profile--image{
    background-color: var(--gray);
    border-radius: 50%;
    width: 15px;
    height: 15px;

}
.profile--image img{
    width: 15px;
    height: 12px;
    padding-bottom: 1px;
}

.profile--name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    padding-left: 8px;
}

/* QUERY SIDEBAR */
@media screen and (max-width: 575px) {
    .sidebar{
        flex-basis: 50px;
    }

    .main-content{
        flex-basis: calc(100% - 50px);
    }

    .menu h2,
    .playlist-section,
    .download h3,
    .profile h2{
        display: none;
    }
    .sidebar--logo{
        width: 0;
        display: flex;
        justify-content: center;
    }

    .logo__standard{
        width: 0;
    }

    .sidebar--logo .logo__small{
        display: flex;
        height: 50px;
        width: 22px;
    }

    .menu{
        margin-bottom: auto;
    }

    .sidebar{
        padding: 0;
        align-items: center;
    }

    .profile{
        padding: 10px 0 10px ;
    }

    .download{
        border: none;
    }

    .menu__home img{
        width: 20px;
    }

}  









/* MAIN CONTENT */

    /* main header */

    .main--header{
        display: flex;
        padding: 20px 0;
        background-color: rgba(0 ,0 ,0 , 0.7);

    }

    .main--header__button{
        display: flex;
        flex-basis: 100%;
        justify-content: flex-end;

    }

    .main--header__button__text{
        color: white;
        font-size: 0.8em;
        border: 2px solid white;
        border-radius: 20px;
        text-align: center;
        display: flex;
        padding: 10px 40px;
    }

    /* CONTENT AUDIO */
    
    .audio__explore-row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding:20px ;
        row-gap: 25px;


    }

    .audio__explore-row li{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.7em;
        padding: 0 15px 5px;
        color: var(--gray);
    }

    .explore-item {
        margin: 0 auto;
        background-color: var(--green);
        height: 3px;
        width: 50%;
    }






/* TOOLBAR */

.album-preview,
.player-wrapper,
.audio-control{
    padding: 10px;

}

.toolbar{
    display: flex;
}

.app > .toolbar{
    justify-content: space-between;
    align-items: center;
}

    /* PLAYER */
    .player-wrapper{
        flex-basis: 65%;
        max-width: 800px;
    }

    .player--command{
        /* border: 1px solid fuchsia; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
    }

    .player--command__center{
        padding: 0 15px ;
        font-size:1.6em ;
    }

    .player--command i{
        padding:0 10px;
        justify-content: center;
    }



    .status__bar{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 10px ;

    }

    .status__bar--time{
        /* border: 1px solid blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7em;
        padding:0 10px;

    }

    .status__bar--bar{
        /* border: 1px solid yellow; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--gray);
        height: 6px;
        flex-basis: 85%;
        border-radius: 10px;
    }

    /* ALBUM */
    .album-preview{
        display: flex;
        flex-basis: 200px;
        justify-content: space-between;
    }

    .album-preview--song{
        display: flex;
        padding-right: 20px;
    }
    .song__graphic{
        flex-shrink: 0;
        width: 50px;
        margin-right: 8px;
    }

    .song__info{
        display: flex;
        font-size: .5em;
        flex-direction: column;
        justify-content: center;
    }
    .song__info p{
        color: var(--gray);
    }

    .album-preview--button{
        display: flex;
        color: var(--gray);
        align-items: center;
    }

    .album-preview--button i{
        padding-right: 10px;
    }

    /* AUDIO */
    .audio-control{
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    .audio-control i{
        padding-right:15px ;
    }

    .audio-control__volume{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .volume--bar{
        display: flex;
        background-color: var(--gray);
        height: 6px;
        width: 100px;
        border-radius: 10px;
    }
/* FINE TOOLBAR */




