:root{
    --dark-blue:#141922;
    --dark-grey:#282828;
    --green:#ADFF2F;
    --gray:#7d7f84;
    --black:#000; 

    --sidbar_width:200px;
    --bottombar_height:90px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

html{
    color: white;
}



/* DEBUG */

.sidebar,
.main-content,
body > .toolbar{
    /* border: 1px solid red; */
    padding: 20px;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.toolbar{
    flex-shrink: 0;
    background-color: var(--dark-grey);

}

.sidebar{
    flex-basis: var(--sidbar_width);
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--black);
}

.main-content{
    flex-grow: 1;
    overflow: y auto;
    background-color:var(--dark-blue) ;
}


@media screen and (max-width: 575px) {
    .sidebar{
        flex-basis: 50px;
    }

    .main-content{
        flex-basis: calc(100% - 50px);
    }
}   